body {
    font-family: Tahoma, sans-serif;
    font-size: 15px;
}

.table {
    border-collapse: collapse;
}

.table th {
    text-align: left;
}

.table th,
.table td {
    border: 1px solid black;
    padding: 5px 10px;
}

.table thead {
    background-color: #eee;
}

.table tfoot {
    background-color: #ccc;
}
